*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Karma";
  margin: 0 auto;
  background-color: #1b264f;
  font-size: 20px;
  color: #f2f2f2;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #f2f2f2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

@font-face {
  font-family: "Moderniz";
  src: url("../fonts/Moderniz.otf") format("opentype");
}

/* Header */

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 17px 36px;
  border: 1px solid #fff;
}

.nav-menu {
  display: flex;
  gap: 63px;
}
.menu-item {
  font-weight: 400;
}
/* Hero section */
.hero-section {
  position: relative;
}

.hero-title {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  margin-top: 40px;
}
.hero-title_item {
  font-size: 94px;
  font-family: "Moderniz";
  margin-bottom: 0;
}

.hero-subtitle {
  margin-top: 0;
  font-size: 24px;
  text-align: right;
  line-height: 130%;
  margin-bottom: 19px;
  letter-spacing: 0.48px;
}

.hero-image {
  position: absolute;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 36px;
  margin-bottom: 100px;
}

.hero-text-container {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  max-width: 381px;
  font-weight: 300;
}

.hero-nav {
  margin-top: 388px;
  display: flex;
  justify-content: space-between;
}

.hero-button {
  font-family: "Moderniz";
  font-weight: 900;
  padding: 16px 12px;
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: 1px solid #f2f2f2;
  transition: all 1s ease;
  cursor: pointer;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.39);
  box-shadow: 0px 0px 46.3px 0px rgba(0, 0, 0, 0.5) inset,
    0px 1px 109.4px 0px rgba(255, 255, 255, 0.12);
}

/* Begin section */

.begin-section-title {
  font-size: 76px;
  font-family: "Moderniz";
  text-wrap: nowrap;
  margin: 0;
}

.before-title-container {
  display: flex;
  gap: 190px;
}

.before-section-content {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.before-section-text {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.text-cursive {
  font-family: Taviraj;
  font-style: italic;
  font-weight: 500;
}

.before-section-button {
  font-family: "Moderniz";
  font-weight: 900;
  padding: 0 45px;
  font-size: 20px;
  text-wrap: nowrap;
  background-color: transparent;
  color: white;
  margin-top: 76px;
  margin-left: 142px;
  border: none;
  display: flex;
  align-items: center;
  gap: 45px;
  cursor: pointer;
}

.button-bracket-left,
.button-text {
  transition: transform 0.4s ease;
}

.before-section-button:hover .button-text {
  transform: translateX(-50px);
}

.before-section-button:hover .button-bracket-left {
  transform: translateX(-100px);
}

.before-list-item {
  padding: 22px 36px;
  border: 1px solid #eee;
}

.before-list-item:last-child {
  margin-bottom: 100px;
}

.before-list-title {
  font-family: MODERNIZ;
  font-size: 20px;
  font-weight: 900;
}

.list-passive-container {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
}

.before-list-text {
  font-weight: 300;
  margin-top: 21px;
  max-width: 855px;
}

.active-list-container {
  display: flex;
  justify-content: space-between;
}
.before-list-prise {
  margin-top: 94px;
  color: #1c2541;
}

.active-list-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.active {
  background-color: #3c4f76;
  transition: all 0.3s ease;
}

.active .active-list-container {
  max-height: 500px;
  opacity: 1;
}

.active .before-list-button {
  transform: rotate(180deg);
  transition: all 0.7s ease;
}

.before-list-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.7s ease;
}

/* Consultations section */

.consultations-title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-column-gap: 119px;
  margin-bottom: 50px;
}

.consultations-title-item:nth-child(3) {
  justify-self: end;
}
.consultations-title-item:nth-child(5) {
  grid-column: 2;
}

.consultations-title-item:last-child {
  grid-row: 3;
  align-self: flex-end;
  transform: translateY(-10px);
}

.consultations-title-item {
  font-family: MODERNIZ;
  font-size: 76px;
  white-space: nowrap;
}

.subttitle {
  font-family: Taviraj;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
}

.information-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 100px;
}

.information-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 36px;
  background-color: #3c4f76;
  border: 1px solid #fff;
  transition: background-color 0.5s ease;
  max-height: 454px;
  height: 100%;
}

.information-card-title {
  font-family: MODERNIZ;
  font-size: 20px;
  margin-bottom: 18px;
}

.information-card:hover {
  background-color: #1c2541;
}

.information-card-text {
  max-width: 382px;
  max-height: 338px;
  width: 100%;
  height: 100%;
  font-weight: 300;
  grid-column: 1 / -1;
}

.card-item:nth-child(2) {
  justify-self: end;
}

.image-card {
  padding: 0;
  border: none;
}

/* Saving section */

.saving-section-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 30px;
}

.saving-section-title-item {
  font-family: MODERNIZ;
  font-size: 76px;
}

.saving-section-title-item:last-child {
  justify-self: end;
}

.saving-section-list {
  margin-bottom: 100px;
}

.saving-list-item {
  padding: 20px 36px;
  border: 1px solid #f2f2f2;
  display: grid;
  grid-template-columns: 49px auto;
  grid-template-rows: auto auto;
  grid-column-gap: 33px;
  transition: background-color 0.5s ease;
}

.saving-item-nummer {
  font-family: MODERNIZ;
  font-size: 32px;
}

.saving-item-title {
  font-family: MODERNIZ;
  font-size: 20px;
  align-self: center;
}

.saving-item-text {
  font-weight: 300;
  max-width: 927px;
  margin-left: 82px;
  margin-right: 82px;
  grid-column: 1 / -1;
}

.saving-list-item-right {
  padding: 20px 36px;
  border: 1px solid #f2f2f2;
  display: grid;
  grid-template-columns: auto 49px;
  grid-template-rows: auto auto;
  grid-column-gap: 33px;
  transition: background-color 0.5s ease;
}

.saving-item-title-left {
  font-family: MODERNIZ;
  font-size: 20px;
  align-self: center;
  justify-self: end;
}

.saving-item-text-left {
  font-weight: 300;
  max-width: 927px;
  margin-left: 82px;
  margin-right: 82px;
  grid-column: 1 / -1;
  justify-self: end;
}

.saving-list-item:hover {
  background-color: #3c4f76;
}

.saving-list-item-right:hover {
  background-color: #3c4f76;
}

.carousel-item {
  padding: 36px;
  max-width: 1328px;
  margin: 0 auto;
}
